* {
  box-sizing: border-box;
}

body {
  font-family: helvetica, arial, sans-serif;
  margin: 20px;
}

h1 {
  font-size:2em;
  color:rgb(255,125,0);
  text-align:center;
}


h2{
  text-align:center;
  color:rgb(255,125,0);
  font-size:2em;
}


a{
  text-decoration: none;
}

table{
  border-collapse:collapse;
  border: 2px solid black;
}
td{
  border: 1px solid black;
  padding:2px;
  margin:2px;
}td a{
  color:red;
}

.bold {
  font-weight: bold;
}

p {
  max-width: 1500px;
}

form {
  margin-bottom: 25px;
  padding: 15px;
  background-color: rgb(255,125,0);
  display: inline-block;
  width: 100%;
  max-width: 500px;
  border-radius: 3px;
}
input{
  margin-bottom: 20px;
  padding: 5px;
  width: 100%;
  background-color:white;
  border: 1px solid lightgrey;
  border-radius: 3px;
  font-size: 16px;
}

ul.menu{
  display:inline;
  list-style-type:none;
  overflow: hidden;
  
  
}



li a.menu{
  color: black;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
  
}




button {
  font-size: 16px;
  height: 50px;
  width: 200px;
  border-radius: 3px;
  background-color: rgb(255,125,0);
  border: 1px solid grey;
  box-shadow: 2px 2px teal;
  cursor: pointer;
}

button:hover {
  background-color: orange;
}

button:active {
  box-shadow: none;
}
button a{
  color:black;
}

li {
  margin-bottom: 5px;
}